{
    "clientId": "Developer Application Client ID",
    "RPC":{
        "details": "Details",
        "largeImageKey": "kicklogo",
        "smallImageKey": "kicklogo",
        "buttons": [
            {
                "label": "Join Me On Kick",
                "url": "https://kick.com/<username>"
            },
            {
                "label": "Join Me On Discord",
                "url": "https://discord.gg/<inviteCode>"
            }
        ]
    }
}